body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

#container {
  height: 100%;
  padding: 2.41rem 3.6rem;
  margin: 0;
  background: #222222;
  overflow: hidden;
}

#content {
  font-size: 2.32em;
  line-height: 3.81rem;
  color: #f2f2f2;
  height: 100vh;
  overflow: scroll;
}
